body {
    font-family: "Roboto", sans-serif;
    color: #434455;
font-size: 16px;
background-color: #FFFFFF;
}



li {
    list-style-type: none;
}

a:hover,
a:focus {
    color: #4D5AE5;
}

address {
    font-style: normal;
}

button:hover,
button:focus {
    background-color: #4D5AE5;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul {
padding: 0;
margin: 0;
}

.container {
    max-width: 1158px;
    padding-left: 156px; 
    padding-right: 156px;
    margin: 0 auto;
}

.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}




.solutions,
.footer {
    background-color: #2E2F42;
}


.header-nav,
.header-address {
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    display: flex;
    padding-right: 76px;
}

.header-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo-accent {
    
    color: #2e2f42;
} 

.header-nav {
    display: flex;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item,
.header-address-item {
    margin-right: 40px;
}


.header-item-link {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-item-link:hover,
.header-item-link:focus,
.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}


.header-address-list {
    display: flex;
}

.container-address {
    padding-left: 0;
}

.header-address-link {
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
        letter-spacing: 0.02em;
}

.solutions {
    text-align: center;
}

.solutions-title {
    padding-top: 188px;
    text-align: center;
    margin-bottom: 48px;
    color:#FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.solutions-btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 188px;
    color:#FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.solutions-btn:hover,
.solutions-btn:focus {
    background-color: #404BBF;
}

.points-list {
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.points-title {
    padding-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.points-paragraph {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
    color: #2E2F42
}
.team-item {
    background-color: #FFFFFF;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
    padding-top: 120px;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;        
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}

.team-list,
.portfolio-list {
    padding-top: 72px;
    padding-bottom: 120px;
}



.team-img,
.portfolio-img {
    margin-bottom: 32px;
}

.team-name {
    margin-bottom: 8px;
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-paragraph {
    text-align: center;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    color: #2E2F42
}

.portfolio-title {
    padding-top: 120px;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item {
    padding-bottom: 32px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.portfolio-subtitle {
    margin-bottom: 8px;
    padding-left: 16px;
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-paragraph {
    padding-left: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    padding-bottom: 100px;
}

.footer-logo {
    display: block;
    padding-top: 101.5px;
    margin-bottom: 17px;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.footer-paragraph {
    width: 264px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo-accent,
.footer-paragraph {
    color: #F4F4FD;
}